/** first page*/
* {
    padding: 0;
}

body {
    background-color: #3D087B;
    top: 0px;
    left: 0px;
    width: 700px;
    height: 30px;
}

.clock {
    position: absolute;
    left: 150px;
    top: 100px;
}

.card {
    height: 250px;
    width: 380px;
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    position: relative;
    top: 200px;
    left: 150px;
    padding-left: 10px;
    padding-right: 30px;
    padding-top: 15px;
    border-radius: 10px;
}

.label {
    color: #3D087B;
    position: absolute;
}

#image {
    background-position: left;
}


#makeup {
    height: 30px;
    width: 200px;
    color: #3D087BDE;
    font: normal normal normal 14px/20px Manrope;
    letter-spacing: 0.25px;
    position: absolute;
    right: 20px;
    border: 2px solid#FFFFFF;
}

#image1 {
    top: 266px;
    left: 149px;
}

.label1 {
    color: #3D087B;
    position: absolute;
    top: 80px;
    left: 50px;
}

#lunch {
    height: 30px;
    width: 200px;
    color: #3D087BDE;
    font: normal normal normal 14px/20px Manrope;
    letter-spacing: 0.25px;
    position: absolute;
    right: 20px;
    top: 80px;
    border: 2px solid#FFFFFF;
}

.label2 {
    color: #3D087B;
    position: absolute;
    top: 150px;
    left: 50px;
}

#nap {
    height: 30px;
    width: 200px;
    color: #3D087BDE;
    font: normal normal normal 14px/20px Manrope;
    letter-spacing: 0.25px;
    position: absolute;
    right: 20px;
    top: 150px;
    border: 2px solid#FFFFFF;
}

.label3 {
    color: #3D087B;
    position: absolute;
    top: 220px;
    left: 50px;
}

#nighttime {
    height: 30px;
    width: 200px;
    color: #3D087BDE;
    font: normal normal normal 14px/20px Manrope;
    letter-spacing: 0.25px;
    position: absolute;
    right: 20px;
    top: 220px;
    border: 2px solid#FFFFFF;
}

.mid {
    width: 430px;
    height: 40px;
    border-radius: 10px;
    background-color: #8A11BF;
    border: 1px solid#3D087B;
    position: absolute;
    top: 500px;
    left: 150px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 15px;
    font-weight: bold;
    font-size: 24px;

}

.btn {
    width: 200px;
    height: 50px;
    background: linear-gradient(to right, #CB52F8, #CB52F8, #FC5EFF, #F1A7C5);
    border: 1px solid #3D087B;
    position: relative;
    top: 280px;
    left: 150px;
    text-decoration: none;
    display: inline-block;
    overflow: hidden;
    margin: 24px 0;



}

.btn.SetAlarm-Partytime::after,
.btn.SetAlarm-Partytime::before {
    content: "Set Alarm";
    position: absolute;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 2.5;
    top: 0px;
    font-size: 16px;
    left: 60px;
    transition: all 400ms;
    text-transform: uppercase;
}

.btn.btn.SetAlarm-Partytime:hover::after {
    top: -50px;
}

.btn.SetAlarm-Partytime::before {
    content: "Party time!";
    top: 50px;
    
}

.btn.btn.SetAlarm-Partytime:hover::before {
    top: 0;
}

.mes {
    width: 220px;
    height: 50px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    position: absolute;
    bottom: 10px;
    top: 650px;
    text-align: left;
    font-size: 14px;
    line-height: 1.5;
    color: #858585;
    background-color: #FFFFFF;
}

.mid2 {
    width: 200px;
    height: 80px;
    border: 1px solid#3D087B;
    position: absolute;
    top: 570px;
    left: 380px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 5px;
    font-weight: bold;
    font-size: 12px;
    border-radius: 10px;
    background-color: #8A11BF;

}

p {
    color: #F25CFE;
}


.card2 {
    height: 50px;
    width: 400px;
    border-radius: 10px;
    border: 1px solid#EDEDED;
    position: absolute;
    color: #8E53F0;
    text-align: center;
    background-color: #FFFFFF;
    left: 600px;
    padding-top: 15px;
    font-weight: bold;
    font-size: 20px;
    bottom: 330px;


}

.card3 {

    background-position: center;
    position: absolute;
    left: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: -20px;
}

.note {

    position: absolute;
    right: 50px;
    bottom: -120px;

}

.mes1 {
    width: 180px;
    height: 80px;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    position: absolute;
    text-align: left;
    font-size: 14px;
    line-height: 1.5;
    color: #858585;
    top: 100px;
    background-color: #FFFFFF;
    left: 400px;
}

.card1 {
    width: 400px;
    height: 100px;
    position: relative;
    background-color: #FFFFFF;
    border: 2px solid #EDEDED;
    border-radius: 10px;
    box-shadow: 5px 15px 0px 0px #EDEDED;
    left: 600px;
    bottom: 270px;
    display: inline-block;
}

.tm {
    color: #3D087B;
    position: absolute;
    text-align: center;
    width: 46px;
    height: 26px;
    left: 50px;
    top: 40px;
    font-size: 18px;
    font-weight: bold;
}

.hour {
    color: #3D087B;
    position: absolute;
    text-align: center;
    width: 50px;
    height: 60px;
    left: 120px;
    top: 20px;
    font-size: 18px;
    background-image: url(./timeline.svg);
}
.min {
    color: #3D087B;
    position: absolute;
    text-align: center;
    width: 46px;
    height: 60px;
    left: 180px;
    top: 20px;
    font-size: 18px;
    background-image: url(./timeline.svg);
}
.sec {
    color: #3D087B;
    position: absolute;
    text-align: center;
    width: 46px;
    height: 60px;
    left: 240px;
    top: 20px;
    font-size: 18px;
    background-image: url(./timeline.svg);
}
.mor
{
    color: #3D087B;
    position: absolute;
    width: 46px;
    height: 60px;
    left: 300px;
    top: 20px;
    font-size: 18px;
  background-image: url(./AM_svg.svg);
  line-height: 2.5;
  text-align: center;
}
.semi
{
    position: absolute;
    color: #8A11BF;
    left: 167px;
    width: 30px;
    height: 200px;
    top: 20px;
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 10px;
}
.semi1
{
    position: absolute;
    color: #8A11BF;
    left: 225px;
    width: 30px;
    height: 200px;
    top: 20px;
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 10px;
}
